.payment_table{
   margin-top: 3vw;
   padding: 2vw;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    
    
}
.payment_table_choice{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.payment_p{
   
    font-size: medium;
   
    margin-right: 2vw;
    font-weight: 600;
}
.payment_p:hover{
    cursor: pointer;
}

.choice_right{
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
}
.choice_right:hover{
    cursor: pointer;
}
.payment_p::selection{
    color: aquamarine;
}
.paymenta_table_border{
    background-color: white;
    border-radius: 1rem;
    padding: 1vw;
    min-height: 70vh;
    box-shadow:3px 3px 3px #c0c7c5;
}
.payment_content_filter{
    display: flex;
    padding: 2vw;
    justify-content: flex-start;
    align-items: flex-end;
}
.payment_option{
    margin-right: 2vw;
  
    font-weight: 600 !important;
}
.payment_select{
    
    border: none !important;
    outline: none !important;
    background-color: white;
}
.payment_search{
    display: flex;
    margin-left: 30vw;
    width: 20vw;
    justify-content: flex-end;
}
.payment_option_span{
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.payment_content tr th {
    padding: 1vw;
    font-weight: 600 !important;
    color: grey !important;
   
}
.payment_content td{
    font-weight: 600;
}

/* drawer */

.detail_transaction{
    height: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
   
}
.transaction_title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
    margin-bottom: 5%;
}
.transactiomn_title_up{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.title_up_center{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.title_bottom_bold{
    font-size: 1rem;
    font-weight: bold;
}
.title_bottom_category{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.transaction_detail_body1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20%;
}
.tranaction_detail_body1_sub{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.detail_body_sub_title{
    font-weight: 600;
    color: #c0c7c5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.detail_body_sub_content{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
