.balanceTop{
    height: 3vw;   
    padding: 1vw;
    position: relative;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;

}
.balance_bar{
    border-radius: 1rem;
    background-color: white;
    padding: 1vw;
    max-width: 55vw;
    flex-grow: 1;
    padding-bottom: 0px;
    box-shadow:3px 3px 4px #c0c7c5;
    min-height: 25vh;
}
.balance{
    display: flex;
    margin-left: 1vw;
    padding-right: 2vw;
    flex-direction: column;
    border-right: 1px solid #4d4646;
    justify-content: center;
}
.balanceTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}
.balance_total{
    font-weight: bold;
    font-size: larger;
}
.balance_content{
    display: flex;
    padding-top: 0.5vw;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}


.balance_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2;
    
}

