
.Header_fold {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
   flex-direction: row;
    justify-content: space-between;
   align-items: center;
  
}
.header_title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 1vw;
}
.sites{
    font-size: 1.4rem;
    font-weight: 300;

}

.header_icon{

    display: flex;
    flex-direction: row;
    justify-content:flex-end;

    align-items: center;
}
.avatar {
    margin-left: 3vw !important;
    font-size: large;
}

    

