.viewTab {
    background-color: #fbfbfb;
    
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

.rightTab{
    width: 200px;
    height: 100px;
    background-color: red;

}
/* balance bar */
