.viewTab {
    background-color: #f0f1f2;
    
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.topTab{
    flex: 2;
   

}
.bottomTab{
    flex: 4;
   
}
/* balance bar */
