.holding_card{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow:3px 3px 3px #c0c7c5;
    padding: 1vw;
    margin-right: 1%;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hold_card_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hold_card_footer{
    display: flex;
    flex-direction: column;
}
.hold_card_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}